@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hero section text gradient  */
.heroTextGradient {
  background: #25cc0f;
  background: linear-gradient(to bottom right, #25cc0f 17%, #d6da0d 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Timeline Customization */
.MuiTimeline-root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiTimelineItem-root {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.MuiTimelineConnector-root {
  width: 0px;
  border-left: 4px dashed #164f18;
  background: none;
  height: 160px;
}

.MuiTimelineContent-root {
  padding: 0px 16px;
  width: 100%;
  display: flex;
}

.css-idv8vo {
  width: 2px;
  background-color: none;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  /* background: none; */
}

.MuiTimeline-positionAlternate
  .css-1v6o2d9-MuiTimelineItem-root:nth-of-type(even)
  .MuiTimelineContent-root {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.MuiTimelineItem-positionRight:before {
  content: none !important;
}

/* .MuiTimeline-positionRight .css-ha3bif-MuiTimelineItem-root:before {
  content: none !important;
} */

.MuiTimeline-positionRight .MuiTimelineConnector-root {
  width: 0px;
  border-left: 4px dashed #164f18;
  background: none;
  height: 170px;
}

/* .css-1rcbby2:before {
  content: none;
} */
