@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hero section text gradient  */
.heroTextGradient {
  background: #25cc0f;
  background: linear-gradient(to bottom right, #25cc0f 17%, #d6da0d 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Timeline Customization */
.MuiTimeline-root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiTimelineItem-root {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.MuiTimelineConnector-root {
  width: 1px;
  border-left: 4px dashed #164f18 !important;
  background: none !important;
  height: 160px !important;
}

.MuiTimelineContent-root {
  padding: 0px 16px;
  width: 100%;
  display: flex;
}

.MuiTimeline-positionAlternate
  .css-1v6o2d9-MuiTimelineItem-root:nth-of-type(even)
  .MuiTimelineContent-root {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.MuiTimelineItem-positionRight:before {
  content: none !important;
}

.MuiTimeline-positionRight .MuiTimelineConnector-root {
  width: 0px;
  border-left: 4px dashed #164f18;
  background: none;
  height: 170px;
}

/* Positioned left timeline customization */
.MuiTimelineItem-positionLeft {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px 8px;
}
.MuiTimelineItem-positionLeft:before {
  content: none !important;
}

.MuiTimeline-positionLeft .MuiTimelineContent-root {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px 8px;
}

.MuiTimeline-positionLeft .MuiTimelineConnector-root {
  width: 0px;
  border-left: 4px dashed #164f18 !important;
  background: none !important;
  height: 77px !important;
}

.strategy .MuiTimelineConnector-root {
  height: 80px !important;
}
